# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode

### Swift ###
# Standard Swift project files
.build/
Packages/
xcuserdata/
.xcworkspace
*~
.DS_Store
*.swp
*.xcscmblueprint

# Swift Package Manager
.swiftpm/

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Modern/Xcode.gitignore,
# and Patch/Xcode.gitignore if you edit this file.

## User-specific configurations
xcuserdata/
*.xcuserdatad
*.xcscmblueprint
*.xcscheme

## Build generated
build/
DerivedData/
*.[oa]
*.[a]
*.[o]
*.[so]
*.xcarchive

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Other
*.moved-aside
*.xccoverage
*.dia

# End of https://www.toptal.com/developers/gitignore/api/swift,xcode 

# Custom ignores
HappyTailsWeather/Utils/Secrets.swift
AppStore_Submission/
AppIcons/ 